.navBefor {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  height: 40px;
  align-items: center;
  background-color: blue;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

.leftItem {
  display: flex;
  align-items: center;
}

.item {
  width: 80px;
}
