.LearClassRoom {
  padding: 40px;
  background-color: rgb(226 231 243);
}
.LearClassRoomHedding {
  font-size: 35px;
  font-weight: 700;
  color: #1890ff;
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .LearClassRoomHedding {
    font-size: 25px;
  }
}
