.gallaryHedding {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 42px;
  background-color: aliceblue;
}

.gallaryContainer {
  padding: 30px;
}
.gallaryContainerHedding {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 30px;
}
